* {
    box-sizing: border-box;
}

body {
    background-color: #C1E1A6;
}

.home-heading {
    display: inline-block;
}

.map-container {
    width: 50%;
}

.map-pic {
    margin: 10px;
    margin-bottom: 30px;
}

footer {
    height: 60px;
}