* {
    box-sizing: border-box;
}

body {
    background-color: #9AC16C;
    color: dimgray;
}

.navbar-link {

}

.container {
    margin-top: 70px;
}

.home-heading {
    display: inline-block;
}

.map-container {
    width: 50%;
    height: 100vh;
}

.map-pic {
    margin: 10px;
    margin-bottom: 30px;
}

footer {
    height: 60px;
}

.social {
    color: dimgray;
    margin-left: 15px;
}

.super {
    vertical-align: super;
}