<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Admin</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="admin-title-bar">
    <i class="fa fa-line-chart" aria-hidden="true"></i><span class="admin-title">Click on username to view user's page:</span>
</div>

<div class="container admin-container">
    <div class="table-background">

    <div class="table-responsive admin-table">
        <table class="table table-condensed">
            <tr>
                <th class="table-heading-text username">Username</th>
                <th class="table-heading-text first-name">First</th>
                <th class="table-heading-text last-name">Last</th>
                <th class="table-heading-text gender">Gender</th>
                <th class="table-heading-text age">Age</th>
                <th class="table-heading-text user-location">Location</th>
            </tr>
            <tr th:each="user : ${users}">
                <td class="table-cell-text username">
                <a th:href="'/admin/user/' + ${user.id}" th:text="${user.username}"></a>
                </td>
                <td class="table-cell-text first-name" th:text="${user.first}"></td>
                <td class="table-cell-text last-name" th:text="${user.last}"></td>
                <td class="table-cell-text gender" th:text="${user.gender}"></td>
                <td class="table-cell-text age" th:text="${user.age}"></td>
                <td class="table-cell-text user-location"> <p th:inline="text"> [[${user.city}]], [[${user.state}]]</p></td>
            </tr>
        </table>
    </div>
    </div>
</div>
<div th:include="navbar :: main-footer"></div>
<span th:include="includes :: js"></span>

</body>
</html>