<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Admin</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">

    <h1>User information</h1>
    <div class="table-background">
    <h3 class="admin-h3">Click on username link to view user's page:</h3>

    <div class="table-responsive admin-table">
        <table class="table table-condensed">
            <tr>
                <th>Username</th>
                <th>First</th>
                <th>Last</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Location</th>
            </tr>
            <tr th:each="user : ${users}">
                <td>
                <a th:href="'/admin/user/' + ${user.id}" th:text="${user.username}"></a>
                </td>
                <td th:text="${user.first}"></td>
                <td th:text="${user.last}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.age}"></td>
                <td> <p th:inline="text"> [[${user.city}]], [[${user.state}]]</p></td>
            </tr>
        </table>
    </div>
    </div>
</div>
<div th:include="navbar :: main-footer"></div>
<span th:include="includes :: js"></span>

</body>
</html>