<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Edit run page</h1>

            <form th:action="'/user/updateRun/' + ${run.id}" method="post">
                <input type="text" name="date" th:value="${run.date}"/>
                :
                <input type="number" name="distance" th:value="${run.distance}"/>
                :
                <input type="text" name="time" th:value="${run.time}"/>


                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
                <input type="hidden" name="id" th:value="${run.id}"/>
                <input type="submit" value="Update"/>

            </form>


    <!--<form th:action="'/user/updateRun/' + ${run.id}" method="get">-->
        <!--<input type="hidden" name="id" th:value="${run.id}"/>-->
        <!--<input type="submit" value="Update"/>-->

    <!--</form>-->
</div>
</body>
</html>