<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <span th:include="includes :: css"></span>

</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">

    <h1 class="home-heading col-md-offset-7 col-md-5 col-sm-10">Local Parks:</h1>
    <div class="col-md-5 col-sm-10 park-map-div">

        <a>
            <img class="map-pic-park" th:src="${parksUrl}" alt="pic of map with park locations"/>
        </a>
    </div>



    <div class="map-container">
    <h1 class="home-heading local-routes-heading">Local running routes&nbsp;</h1><h4
            class="home-heading home-click-enlarge-map">(click on map to enlarge):</h4>

        <div class="row">
            <div class="col-md-6 col-sm-12 shared-map-pic" th:each="map : ${sharedMaps}">
                <a th:href="'/getMap/' + ${map.id}">
                    <img class="map-pic-route" th:src="${map.url}" alt="pic of map"/>
                </a>
            </div>
        </div>
    </div>

</div>
<div th:include="navbar :: main-footer"></div>
<span th:include="includes :: js"></span>

</body>
</html>