<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Login</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">
    <div class="login-pic-div col-md-offset-6 col-md-4 col-xs-12">
        <img class="login-pic" src="/img/run-is-calling.jpg" alt="path pic with words run is calling"/>
    </div>

    <h1>Login form:</h1>

    <h4 class="error-msg" th:text="${error}"></h4>

    <form class="login-form" th:action="@{/login}" th:object="${user}" method="post">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="username">Username:</label>
                <input class="form-control" type="text" th:field="*{username}" id="username" placeholder="Username"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="password">Password:</label>

                <input class="form-control" type="password" th:field="*{password}" id="password"
                       placeholder="Password"/>
            </div>
        </div>
        <input class="login login-submit btn btn-default" type="submit" value="Enter"/>
    </form>

</div>
<div th:include="navbar :: main-footer"></div>
<span th:include="includes :: js"></span>

</body>
</html>