<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div class="container">

    <h1>Pic of map with path line should be displayed</h1>

    <div class="mapPic">

        <img src="https://maps.googleapis.com/maps/api/staticmap?size=300x300&amp;markers=size:mid%7Ccolor:green%7Clabel:S%7CFurman+University+Greenville,SC&amp;markers=size:mid%7Ccolor:red%7Clabel:F%7CSwamp+Rabbit+Grocery+Greenville,SC&amp;key=STATIC_MAP_KEY+&amp;path=color:blue%7Cenc:ifctEplevNv@cA%7CCiChAlBbAxAdAvAvAbAh@b@%7CBzB`@Vr@N@b@\Dz@P~ItCrA`@xAVdAH%7C@@rAEx@Mv@Mj@Ql@SjAi@nFmCdFgCfKiFjBu@dBe@vJgBlDo@vFgAzO_EhQsEnG}A\MPOPGr@SfAW\AxA[jHoBfA[%7CA[zCu@lNmDxAa@fCmA%7C@m@%7C@u@bCoC~BwCvGmInH_JtDsFvGmJn@{@~@NvJv@HIP@~El@z@NX}CTmCp@gDz@eDHOXWNEjAKZk@Fe@AY[{@I_@?_@F[LSLK%7CAi@`@WXYZo@d@_APQfD_@`BGVE_@mCOcAPS&amp;sensor=true" alt="pic of map"/>

    </div>

    <!--<iframe-->
            <!--width="450"-->
            <!--height="250"-->
            <!--frameborder="0" style="border:0"-->
            <!--src="https://maps.googleapis.com/maps/api/directions/json?origin=furman+university+greenville+SC&amp;destination=swamp+rabbit+grocery+greenville+sc&amp;key=DIRECTIONS_KEY&amp;mode=walking" allowfullscreen="allowfullscreen">-->
    <!--</iframe>-->


</div>

</body>
</html>