<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<span th:include="includes :: css"></span>

<body>
<div th:if="${user} == null" th:include="navbar :: visitor-navbar"></div>
<div th:if="${user} != null" th:include="navbar :: user-navbar"></div>

<div class="container">

    <h1>Map of run route:</h1>

    <div class="mapPic">

        <img th:src="${url}" alt="pic of map"/>

    </div>


</div>

</body>
</html>