<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">


        <span><h2 class="route-heading">Enter your route ending point&nbsp;</h2><h4 class="route-heading">(use street address or point of interest):</h4></span>
    <form class="add-run-form" th:action="'/map/' + ${runId} + '/routeEnd/' + ${mapId}" method="post">

    <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
<div class="row">
    <div class="col-xs-10">
        <input type="hidden" name="city" id="city" value="Greenville"/>
        <input type="hidden" name="state" id="state" value="SC"/>
        <input type="hidden" th:value="${runId}"/>
        <label for="endaddress"></label>
        <input class="form-control" type="text" name="endaddress" id="endaddress"/>
    </div>
</div>
        <input class="add-end" type="submit" value="Add end location"/>
    </form>


</div>
<div th:include="navbar :: main-footer"></div>
<span th:include="includes :: js"></span>

</body>
</html>