<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: visitor-navbar"></div>
<div class="container">
    <h1>create route page</h1>

    <form th:action="'/map/' + ${runId} + '/routeStart/'" method="post">
        <h3>Give your route a name:</h3>
        <input type="text" name="route_name" it="route_name"/>
        <h3>Would you like others to be able to see your route?</h3>

        <div class="col-sm-6">
            <div class="form-group">
                <div class="radio-inline gender">
                    <label class="col-sm-2 control-label">
                        <input type="radio" th:field="*{ispublic}" name="ispublic" id="true" value="Y"/>
                        Male
                    </label>
                </div>
                <div class="radio-inline gender">
                    <label class="col-sm-2 control-label">
                        <input type="radio" th:field="*{ispublic}" name="ispublic" id="false" value="N"/>
                        Female
                    </label>
                </div>
            </div>
        </div>

        <h3>Enter your route starting point:</h3>
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>

        <label for="address"></label>
        <input type="text" name="address" id="address"/>
        <input type="hidden" name="city" id="city" value="Greenville"/>
        <input type="hidden" name="state" id="state" value="SC"/>
        <input type="hidden" th:value="${runId}"/>
        <input type="submit" value="Add leg"/>
    </form>


</div>

</body>
</html>