<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">

    <h1>Do you want to add additional route legs?</h1>
    <form th:action="'/map/' + ${runId} + '/createMap/' + ${mapId}">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <input type="hidden" th:value="${mapId}"/>
        <input type="hidden" th:value="${runId}"/>
        <input type="submit" value="Finished"/>
    </form>

    <form th:action="'/map/' + ${runId} + '/routeLeg/' + ${mapId}" method="post">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <label for="leg"></label>
        <input type="text" name="leg" id="leg"/>
        <input type="hidden" th:value="${mapId}"/>
        <input type="hidden" th:value="${runId}"/>
        <input type="submit" value="Add leg"/>
    </form>

    <div th:include="navbar :: main-footer"></div>
    <span th:include="includes :: js"></span>

</div>
</body>
</html>