<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">
    <h1>Add a map of your run route:</h1>

    <h2>You can choose from one of your previously created routes:</h2>
    <form th:action="'/map/' + ${runId} + '/routeSelect'" method="post">

        <div class="form-group">
            <div class="row">
                <div class="col-xs-3">
                    <label for="map_id">Route:</label>
                    <select name="map_id" class="form-control" id="map_id">
                        <option>-------</option>
                        <option th:value="${map.id}" th:each="map : ${myMaps}"
                                th:text="${map.routeName}"></option>
                    </select>
                </div>
            </div>
            <div>
                <input class="select-route" type="submit" value="Add route"/>
            </div>
        </div>
    </form>

    <h2>Or create a new route:</h2>
    <form th:action="'/map/' + ${runId} + '/routeStart'" method="post">
        <h3>Give your route a name:</h3>
        <div class="row">
            <div class="col-xs-6">
                <input class="form-control" type="text" name="route_name" it="route_name" required="required"/>
            </div>
        </div>

        <h3>Would you like your route to be viewable by others?</h3>
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <div class="radio-inline gender">
                        <label class="col-sm-2 control-label">
                            <input type="radio" name="shared" id="true" value="Y"/>
                            Yes
                        </label>
                    </div>
                    <div class="radio-inline gender">
                        <label class="col-sm-2 control-label">
                            <input type="radio" name="shared" id="false" value="N"/>
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <span><h2 class="route-heading">Enter your route starting point&nbsp;</h2><h4 class="route-heading">(use street address or point of interest):</h4></span>
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>

        <div class="row">
            <div class="col-xs-6">

                <input class="form-control" type="text" name="address" id="address" required="required"
                       placeholder="street address or point of interest"/>
                <input type="hidden" name="city" id="city" value="Greenville"/>
                <input type="hidden" name="state" id="state" value="SC"/>
                <input type="hidden" th:value="${runId}"/>

            </div>
        </div>
        <input class="add-start" type="submit" value="Add start location"/>

    </form>

</div>
<div th:include="navbar :: main-footer"></div>
<span th:include="includes :: js"></span>

</body>
</html>