<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Signup</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">
    <h1>Signup page</h1>


    <form th:action="@{/signup}" th:object="${user}" method="post">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <input type="text" th:field="*{username}" placeholder="Username"/>
        <input type="password" th:field="*{password}" placeholder="Password"/>
        <input type="submit" value="Signup"/>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-inline age">
                    <label for="age" class="col-sm-4 control-label agelabel">Age:</label>
                    <div class="form-inline">
                        <input type="text" name="age" class="form-control ageinput" id="age"/>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <div class="radio-inline gender">
                        <label class="col-sm-2 control-label">
                            <input type="radio" name="gender" id="male" value="M"/>
                            Male
                        </label>
                    </div>
                    <div class="radio-inline gender">
                        <label class="col-sm-2 control-label">
                            <input type="radio" name="gender" id="female" value="F"/>
                            Female
                        </label>
                    </div>
                </div>
            </div>
        </div>


    </form>


</div>
</body>
</html>