<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Signup</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">
    <div class="signup-pic-div col-md-offset-6 col-md-4 col-xs-12">
        <img class="signup-pic pic-border" src="/img/get-running-pic.jpg" alt="path pic with words get running"/>
    </div>

    <h1>Signup form:</h1>

    <form class="signup-form" th:action="@{/signup}" th:object="${user}" method="post">



        <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
                <label for="first">First name:</label>
                <input class="form-control signup" type="text" th:field="*{first}" id="first" placeholder="First Name" required="required"/>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
                <label for="last">Last name:</label>
                <input class="form-control signup" type="text" th:field="*{last}" id="last" placeholder="Last Name" required="required"/>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
                <label for="city">City:</label>
                <input class="form-control signup" type="text" th:field="*{city}" id="city" placeholder="City" required="required"/>
            </div>
            <div class="form-group col-sm-4 col-xs-12">
                <label for="state">State:</label>
                <select name="state" id="state" th:field="*{state}" class="form-control state-dropdown"
                        required="required">
                    <option value="">Select state</option>
                    <option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                <label for="username">Username:</label>
                <input class="form-control signup" type="text" th:field="*{username}" id="username"
                       placeholder="Username" required="required"/>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                <label for="password">Password:</label>
                <input class="form-control signup" type="password" th:field="*{password}" id="password"
                       placeholder="Password" required="required"/>
            </div>
        </div>

        <div class="row age-gender-row">
            <div class="col-md-4 col-xs-12 ">
                <div class="form-group form-inline">
                    <label for="age" class="col-md-4 col-xs-12 age-label">Age:</label>
                    <input type="number" min="0" name="age" th:field="*{age}" class=" col-md-5"
                           id="age" required="required"/>
                </div>
            </div>

            <div class="col-md-offset-2 col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="radio-inline gender-button">
                        <label class="col-md-2 col-xs-6 control-label">
                            <input type="radio" th:field="*{gender}" name="gender" id="male" value="M"/>
                            Male
                        </label>
                    </div>
                    <div class="radio-inline gender-button">
                        <label class="col-md-2 col-xs-6 control-label">
                            <input type="radio" th:field="*{gender}" name="gender" id="female" value="F"/>
                            Female
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <input class="signup signup-submit btn btn-default" type="submit" value="Signup"/>

    </form>

</div>
<div th:include="navbar :: main-footer"></div>
<span th:include="includes :: js"></span>

</body>
</html>