<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Signup</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: visitor-navbar"></div>
<div class="container">
    <h1>Signup page</h1>

    <form th:action="@{/signup}" th:object="${user}" method="post">
        <input type="text" th:field="*{username}" placeholder="Username"/>
        <input type="password" th:field="*{password}" placeholder="Password"/>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-inline age">
                    <label for="age" class="col-sm-4 control-label agelabel">Age:</label>
                    <div class="form-inline">
                        <input type="number" min="0" name="age" th:field="*{age}" class="form-control ageinput" id="age"/>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <div class="radio-inline gender">
                        <label class="col-sm-2 control-label">
                            <input type="radio" th:field="*{gender}" name="gender" id="male" value="M"/>
                            Male
                        </label>
                    </div>
                    <div class="radio-inline gender">
                        <label class="col-sm-2 control-label">
                            <input type="radio" th:field="*{gender}" name="gender" id="female" value="F"/>
                            Female
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <input type="text" th:field="*{city}" placeholder="City"/>
        <div class="form-group">
        <label for="state">State:</label>
        <select name="state" th:field="*{state}" class="form-control" id="state" required="required">
            <option value="SC">SC</option>
            <option value="TX">TX</option>
            <option value="NC">NC</option>
            <option value="GA">GA</option>
        </select>
        </div>
        <!--<input type="text" th:field="*{state}" placeholder="State"/>-->

        <input type="submit" value="Signup"/>

    </form>


</div>
<span th:include="includes :: js"></span>

</body>
</html>