<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Title</title>
</head>
<span th:include="includes :: css"></span>
<body>
<div th:include="navbar :: navbar"></div>
<div class="user-title-bar">
    <i class="fa fa-line-chart" aria-hidden="true"></i><span class="user-title" th:inline="text">[[${user.first}]]'s tracked runs:</span>

</div>
<div class="container">

<div class="table-background">

<div class="table-responsive user-table">
    <table class="table table-condensed">
        <tr class="table-header">
            <th class="run-date table-heading-text">Date</th>
            <th class="run-distance table-heading-text">Distance</th>
            <th class="run-time table-heading-text">Time</th>
            <th class="map-col table-heading-text">Map Link</th>
            <th class="delete-btn" sec:authorize="hasRole('ROLE_USER')"></th>
            <th class="update-btn" sec:authorize="hasRole('ROLE_USER')"></th>
        </tr>
        <tr th:each="run : ${userRuns}">
            <td class="run-date table-cell-text" th:text="${#dates.format(run.date, 'MMM dd, yyyy')}"></td>
            <td class="run-distance table-cell-text" th:text="${run.distance}"></td>
            <td class="run-time table-cell-text" th:text="${run.time}"></td>
            <td class="map-col table-cell-text">
                <a class="map-link" th:if="${run.map ==null}" href="https://maps.googleapis.com/maps/api/staticmap?zoom=11&amp;size=500x500&amp;markers=size:mid%7Ccolor:red%7C34.85261759999999,-82.3940104">no route provided</a>
                <a class="map-link" th:if="${run.map !=null}"  th:href="'/displayMap/' + ${run.map.id}" th:text="${run.map.routeName}"></a>
            </td>
            <td ckass="delete-btn" sec:authorize="hasRole('ROLE_USER')">
                <form action="/user/deleteRun" method="post">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                    <input type="hidden" name="id" th:value="${run.id}"/>
                    <input class="btn btn-danger" type="submit" value="Delete"/>
                </form>
            </td>
            <td class="update-btn" sec:authorize="hasRole('ROLE_USER')">
                <form th:action="'/user/updateRun/' + ${run.id}" method="get">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                    <input type="hidden" name="id" th:value="${run.id}"/>
                    <input class="btn btn-warning" type="submit" value="Update"/>
                </form>
            </td>
        </tr>
    </table>
    </div>
</div>
    <div class="col-xs-offset-11 back-button" sec:authorize="hasRole('ROLE_ADMIN')">
    <form action="/admin" method="get">
        <input class="btn btn-default" type="submit" value="Back"/>
    </form>
    </div>


</div>
<div th:include="navbar :: main-footer"></div>
<span th:include="includes :: js"></span>

</body>
</html>