<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Title</title>
</head>
<span th:include="includes :: css"></span>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">

    <h1 th:inline="text">Welcome, [[${user.first}]]!</h1>

<h3>Your tracked runs:</h3>

<div class="table-responsive user-table">
    <table class="table table-condensed">
        <tr>
            <th>Date</th>
            <th>Distance</th>
            <th>Time</th>
            <th>Map Link</th>
            <th sec:authorize="hasRole('ROLE_USER')"></th>
            <th sec:authorize="hasRole('ROLE_USER')"></th>
        </tr>
        <tr th:each="run : ${userRuns}">
            <td th:text="${#dates.format(run.date, 'MM-dd-yyyy')}"></td>
            <td th:text="${run.distance}"></td>
            <td th:text="${run.time}"></td>
            <td>
                <a th:if="${run.map ==null}" href="https://maps.googleapis.com/maps/api/staticmap?zoom=11&amp;size=500x500&amp;markers=size:mid%7Ccolor:red%7C34.85261759999999,-82.3940104">no route provided</a>
                <a th:if="${run.map !=null}"  th:href="'/displayMap/' + ${run.map.id}" th:text="${run.map.routeName}"></a>
            </td>
            <td sec:authorize="hasRole('ROLE_USER')">
                <form action="/user/deleteRun" method="post">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                    <input type="hidden" name="id" th:value="${run.id}"/>
                    <input type="submit" value="Delete"/>
                </form>
            </td>
            <td sec:authorize="hasRole('ROLE_USER')">
                <form th:action="'/user/updateRun/' + ${run.id}" method="get">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                    <input type="hidden" name="id" th:value="${run.id}"/>
                    <input type="submit" value="Update"/>
                </form>
            </td>
        </tr>
    </table>
    </div>

</div>
<div th:include="navbar :: main-footer"></div>
<span th:include="includes :: js"></span>

</body>
</html>